cc-salesforce-crm-sys-api-v1/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
    <flow name="cc-salesforce-crm-system-api-main">
        <http:listener config-ref="HTTPS_Listener_Configuration" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<validation:is-true doc:name="Is true" doc:id="db70958b-3fc7-4552-90ab-39cb4cc33c81" config-ref="Auth_Validation_Config" message='"Invalid Authentication"' expression='#[message.attributes.headers.client_id == p("secure::auth.client_id") and message.attributes.headers.client_secret == p("secure::auth.client_secret") ]'/>
		<apikit:router config-ref="cc-salesforce-crm-system-api-config"/>
		<error-handler ref="Error_Handler" />
    </flow>
    <flow name="post:\sf_upsert\partner\media-tactic:application\json:cc-salesforce-crm-system-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="352b841a-6054-44a8-8f65-4f2e9618829f" name="salesforce-upsert-media-tactic-flow"/>
    </flow>
</mule>
